<mat-toolbar color="accent">
  <mat-toolbar-row style="height: 100px;">
    <span>TVMaze App</span>
    <span class="example-spacer"></span>
    <form ngForm #ShowSearch class="form">

      <mat-form-field>
        <input matInput #assignmentName
               name="name" placeholder="Show"
               type="text"
               [(ngModel)]="searchQuery">
               <button mat-button
                       *ngIf="searchQuery"
                       matSuffix mat-icon-button
                       (click)="searchQuery = ''">
                 <mat-icon>close</mat-icon>
               </button>
      </mat-form-field>
      <button mat-flat-button (click)="onSubmit()" background-color="primary">Search</button>
    </form>
  </mat-toolbar-row>
</mat-toolbar>

