.example-spacer {
  flex: 1 1 auto;
}

mat-form-field {
  width: 65%;
  margin-right: 5px;
}
button {
  margin-left: 5px;
}

mat-toolbar {
  background-color: #8a2eb2;
  margin: 5px;
  box-shadow: 0 4px 8px 0 rgba(0.2, 0.2, 0.2, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
