mat-toolbar-row {
  height: 150px;
}

p {
  font-size: 64px;
  color: #69F0AE;
}
mat-form-field {
  width: 65%;
  margin-right: 5px;
}
button {
  margin-left: 5px;
}

mat-toolbar {
  background-color: #8a2eb2;
  margin: 5px;
}

