
mat-form-field {
  margin-left: 35%;
  width: 500px;
  height: 100px;

}

input {
  background-color: blueviolet;
  text-align: center;
  text-transform: uppercase;
  font-size: 32px;

}

button {
  margin-left: 15px;
  margin-bottom: 10px;
  height: 50px;
  width: 100px;
}
