<!--Home Page - has search box and welcome message. Nothing much doing in the .ts file, but .scss file implements lots of rules to center it. -->
  <form ngForm #ShowSearch>

  <mat-form-field>
    <input matInput
           name="name" placeholder="Enter Show"
           type="text"
           [(ngModel)]="query">
    <button tabIndex="-1" mat-button
            *ngIf="query"
            matSuffix mat-icon-button
            (click)="query = ''">
      <mat-icon>close</mat-icon>
    </button>
    <!--When button's clicked, the user is sent to the search results page. Their query is appended to the route via [(ngModel]) above in the input field.-->
    <button mat-flat-button routerLink="/shows/{{query}}" color="accent">Search</button>
  </mat-form-field>

  </form>


<div class="jumbotron mx-5 mt-5 text-center">
  <div class="container">
    <h1>Use the Search Bar to Explore!</h1>
  </div>
</div>

