<!--<app-navbar></app-navbar>-->
  <form ngForm #ShowSearch>

  <mat-form-field>
    <input matInput
           name="name" placeholder="Enter Show"
           type="text"
           [(ngModel)]="searchQuery">
    <button tabIndex="-1" mat-button
            *ngIf="searchQuery"
            matSuffix mat-icon-button
            (click)="searchQuery = ''">
      <mat-icon>close</mat-icon>
    </button>
    <button mat-flat-button routerLink="/shows/{{searchQuery}}" color="accent">Search</button>
  </mat-form-field>

  </form>


<div class="jumbotron mx-5 mt-5 text-center">
  <div class="container">
    <h1>Use the Search Bar to Explore!</h1>
  </div>
</div>

