
<mat-accordion>

<mat-expansion-panel *ngFor="let show of shows">
  <mat-expansion-panel-header>
    <mat-panel-title style="font-size: 24px;">{{show.title}}</mat-panel-title>
    <mat-panel-title *ngIf="show.premiered">Premiered: {{show.premiered}}</mat-panel-title>
    <mat-panel-title>Status: {{show.status}}</mat-panel-title>
    <mat-panel-title *ngIf="show.rating">Rating: {{show.rating}} / 10</mat-panel-title>
  </mat-expansion-panel-header>
  <img src="{{show.image}}" alt="{{show.title}}">
  <div>
    <span [innerHTML]="show.summary" style="font-size: 24px;"></span>
    <button mat-stroked-button color="accent" style="background-color: #7B1FA2;" routerLink="/episodes/{{show.id}}">More Info</button>
  </div>

  </mat-expansion-panel>

</mat-accordion>
