<!--This page displays the season/episode info for a specific show. A mat-accordion contains all of the seasons, with the run-dates. If the run-date isn't available it should be listed as "upcoming"-->

<mat-accordion>

  <mat-expansion-panel *ngFor="let season of seasons">
    <mat-expansion-panel-header>
      <mat-panel-title> Season {{season.seasonNumber}}</mat-panel-title>
      <mat-panel-title id="upcoming" *ngIf="!season.startDate; else dates">Upcoming
      </mat-panel-title>
      <ng-template #dates>
        <mat-panel-title>
          <b>{{season.startDate | date: mediumDate}} to {{season.endDate | date: mediumDate}}</b>
        </mat-panel-title>
      </ng-template>
    </mat-expansion-panel-header>
    <!--When caret on Season panel is clicked, we render the season image if available. Also, where possible the episodes of the season are called via the app-episodes component. -->
    <img *ngIf="season.image" src="{{season.image}}" alt="{{season.seasonNumber}}" >
    <app-episodes [id]="season.id"></app-episodes>

  </mat-expansion-panel>

</mat-accordion>


