<!--Inside of a mat-accordion, render mat-expansion panels for each episode of a season. Rendered via shows-page Component-->
<mat-accordion>

  <mat-expansion-panel title='Click for an episode summary!' *ngFor="let episode of episodes" >
    <mat-expansion-panel-header>
      <!--Print each episode number, name and date-->
      <mat-panel-title> Episode #{{episode.epNumber}}</mat-panel-title>
      <mat-panel-title *ngIf="episode.epName">
        <b>{{episode.epName| titlecase}}</b>
      </mat-panel-title>
      <mat-panel-title *ngIf="episode.aired">
        <b>{{episode.aired | date: mediumDate}}</b>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <!--If available, display an episode image and summary. -->
    <img *ngIf="episode.image" src="{{episode.image}}" alt="{{episode.epNumber}}">
      <span *ngIf="episode.summary" id="summary" [innerHTML]="episode.summary"></span>


  </mat-expansion-panel>

</mat-accordion>
